[submodule "dotnet/csharp"]
	path = dotnet/csharp
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = dotnet-csharp
[submodule "node/nextjs"]
	path = node/nextjs
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = node-nextjs
[submodule "node/nextjs-standalone"]
	path = node/nextjs-standalone
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = node-nextjs-standalone
[submodule "node/nextjs-export"]
	path = node/nextjs-export
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = node-nextjs-export
[submodule "node/express"]
	path = node/express
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = node-express
[submodule "node/react-vite"]
	path = node/react-vite
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = node-react-vite
[submodule "node/connect"]
	path = node/connect
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = node-connect
[submodule "go/connect"]
	path = go/connect
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = go-connect
[submodule "rust/hyper"]
	path = rust/hyper
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = rust-hyper
[submodule "rust/axum"]
	path = rust/axum
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = rust-axum
[submodule "php/wordpress"]
	path = php/wordpress
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = php-wordpress
[submodule "python/flask-poetry"]
	path = python/flask-poetry
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = python-flask-poetry
[submodule "python/gpt2"]
	path = python/gpt2
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = python-gpt2
[submodule "python/flask"]
	path = python/flask
	url = git@github.com:scaffoldly/scaffoldly-examples.git
	branch = python-flask
